body {
	background-color: #000000;
	margin: 0px;
	background-image: url(images/refracgreen.gif);
	background-repeat: no-repeat;
	background-position: left top;
	background-attachment: fixed;
	font-size: 100%;
	padding: 0px;
}
html {
	margin: 0px;
	padding: 0px;
}


#header {
	background-color: #000000;
	height: 80px;
	width: 700px;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-weight: bold;
	color: #FFFFFF;
	letter-spacing: 15px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	border-top-width: thin;
	border-right-width: 300px;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	border-right-color: #66BB50;
	float: left;
	padding-left: 20px;
	top: 0px;
}

#subtitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	margin: 0px;
	height: 15px;
	width: 1500px;
	float: none;
	clear: both;
	background-color: #6699FF;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 22px;
	letter-spacing: 2pt;
	z-index: 1;
}


#mainimage {
	height: 366px;
	width: 100px;
	background-color: #66BB50;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: 200%;
	float: left;
	letter-spacing: 3px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	margin: 0px;
	border-bottom-width: thin;
	border-bottom-style: none;
	border-top-width: thin;
	border-right-width: thin;
	border-left-width: thin;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	font-size: 12px;
}

#mainbody {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	float: left;
	background-color: #FFFFFF;
	height: 325px;
	width: 550px;
	vertical-align: top;
	font-weight: bold;
	position: absolute;
	padding: 20px;
	left: 130px;
	top: 115px;
	z-index: 3;
}

#mainbody a:link {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #6699FF;
	font-weight: bold;
	background-color: #FFFFFF;
}


#mainbody a:visited {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #6699FF;
	font-weight: bold;
	background-color: #FFFFFF;

}

#mainbody a:hover {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #66BB50;
	font-weight: bold;
	background-color: #FFFFFF;

}

#mainbody a:active {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #6699FF;
	font-weight: bold;
	background-color: #FFFFFF;

}

#lowerbanner {
	clear: none;
	background-color: #66BB50;
	height: 18px;
	width: 650px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	letter-spacing: 1px;
	word-spacing: normal;
	vertical-align: bottom;
	font-weight: bold;
	text-align: right;
	color: #FFFFFF;
	position: absolute;
	left: 0px;
	top: 480px;
	float: none;
	border: 0px none #6699FF;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 50px;
}

p {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:1em;
	font-weight:normal;
	color:#000000;
	background-position:left center;
	line-height: 175%;
	padding: 10px;
	border: none;
}



h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	color: #000000;
	letter-spacing: 2px;
	margin: 0px;
	padding: 0px;
}

li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	line-height: 150%;
	color: #000000;
	font-weight: normal;
}

td {
	padding: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 0px;
}

.chrisrush {
	background-color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	line-height: normal;
	letter-spacing: 29px;
	text-transform: none;
	word-spacing: 3px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 4px;
	white-space: normal;
	margin: 0px;
}


.appliedgeo {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 3em;
	font-weight: normal;
	color: #000000;
	letter-spacing: 2px;
}
.photocaps {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #000000;
	text-align: center;
}
#biglightphoto {
	background-color: #FFFFFF;
	height: 400px;
	width: 470px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	position: relative;
}
#photoheader {
	background-color: #66BB50;
	height: 40px;
	width: 470px;
	margin-right: auto;
	margin-left: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	padding-top: 7px;
}



a:link {
	color: #FFFFFF;
	text-decoration: none;
	padding: 5px;
	font-size: 12px;
}
 a:visited {
	color: #FFFFFF;
	text-decoration: none;
	padding: 5px;
}
a:hover {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bolder;
	background-color: #6699FF;
	padding: 5px;
}
a:active {
	text-decoration: none;
	color: #FFFFFF;
	font-weight: normal;
}
